<div>
  <%= form_with url: '/profiles', method: :get, local: true do %>
    <%= label_tag :username, 'Search for: ' %>
    <%= text_field_tag :username %>

    <%= submit_tag 'Search' %>
  <%end %>

  <% @users.each do |user| %>
    <div id="user-<%= user.id %>" class='row'>
      <p >
      <%= link_to user.username, profile_path(user.username) %>
      </p>
      <%= button_to "Connect" %>
    </div>
  <% end %>
</div>
