<div>
  <%= form_with url: '/profiles', method: :get, local: true do %>
    <%= label_tag :username, 'Search for: ' %>
    <%= text_field_tag :username %>

    <%= submit_tag 'Search' %>
  <%end %>

  <% @users.each do |user| %>
    <div id="user-<%= user.id %>" class='row'>
      <p >
      <%= link_to user.username, profile_path(user.username) %>
      </p>
      <% if current_user != user %>
        <% if current_user.friend_requested?(user) %>
           Request pending
        <% else %>
          <%= button_to "Connect", friendships_path, params: { friend_id: user.id} %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
