<div>
  <h3><%= @user.username %>'s profile</h3>

  <p>
    <% if current_user&.eql? @user %>
      <%= link_to "Upload photos", new_photo_path %>
    <% end %>
  </p>

  <div>
    <p>Friend requests</p>
    <% @user.friendship_requests.each do |issuer| %>
      <div id="request-user-<%= issuer.id %>" class='row'>
        <p>
          <%= issuer.username %>
        </p>
        <% path = ERB::Util.url_encode(issuer.username) %>
        <%= button_to 'Accept', friends_path, params: { user_id: issuer.id } %>
        <%= button_to 'Reject', friend_path(issuer),  method: :delete %>
      </div>

    <% end %>
  </div>
  <% if @user.photos.empty? %>
    <p>There is still no photos to display.</p>
  <% else %>
    <% @user.photos.each do |photo| %>
      <%= link_to photo_path(photo) do %>
        <%= image_tag photo.photo.variant(resize: '200', gravity: 'Center', crop: '200x200+0+0') %>
      <% end %>
    <% end %>
  <% end %>
</div>
